<div class="card shadow-sm" style="margin-top:1em;">
  <div class="card-img-top">
  </div>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h1 class="card-title">Log in</h1>
          <div class="card-text">
            <%= render 'form_new' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
