<div class="card shadow-sm" style="margin-top:1em;">
  <div class="row align-items-center">
    <div class="col-lg-6">
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="card-title">Log in</h1>
              <div class="card-text">
                <div class="row">
                  <div class="col-12">
                    <%= render 'form_new' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 d-none d-lg-block">
      <img height="12px" src="https://cypress.s3.cyprx.cloud/public/underwater.jpg" class="img-fluid">
    </div>
  </div>
</div>
