<div class="card text-center">
  <div class="card-img-top">
  </div>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h5 class="card-title">
            <% if @is_filled %>
            <h1>I'm back from my diving session</h1>
            <% else %>
            <h1>I'm filling this tank</h1>
            <% end %>
          </h5>
          <div class="card-text">
            <%= render 'form_new' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
